footer.six>div.box{
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    border-top: 1px solid #e0e0e2;
    margin: auto;
}

footer.six>div.box>p{
    color: #81858B;
    font-size: 11px;
    padding: 30px 0;
    font-family: Iranyekan;
}